@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/fira-mono';

:root {
	--font-body: 'Georgia', serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #f9f9f9;
	--color-bg-1: #ffffff;
	--color-bg-2: #e5e5e5;
	--color-theme-1: #001f3f; /* Dark blue accent */
	--color-theme-2: #4d4d4d; /* Dark gray */
	--color-theme-3: #DDEDF8; /* Light blue accent */
	--color-theme-4: #F06543; /* Salmon accent */
	--color-theme-5: #003366; /* Salmon accent */
	--color-theme-6: #5CADFF; /* Salmon accent */
  --color-breaking: #d62839;
	--color-text: rgba(0, 0, 0, 0.85);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--story-grow-factor: 1.04;
	--top-story-grow-factor: 1.02;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
		50% 50% at 50% 50%,
		rgba(255, 255, 255, 0.85) 0%,
		rgba(255, 255, 255, 0) 100%
	),
	linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
h3,
h4 {
	color: var(--color-text);
	font-family: var(--font-body);
}


.story-content h3 {
  font-size: 1.25rem;
	text-align: center;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
}

.story-content img {
  width: 100%;
}

.story-content p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.story-content figcaption {
  font-size: 0.8rem;
  text-align: center;
  color: var(--color-theme-2);
  margin-bottom: 1em;
}

.story-content hr {
  display: none;
}

.story-content h2 {
  /* border-left: none;
  padding-left: none; */

}

.story-content dt {
  font-weight: bold;
  text-decoration: underline ;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
	border-bottom: 2px solid var(--color-theme-1);
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.5rem;
	border-left: 4px solid var(--color-theme-1);
	padding-left: 0.5rem;
	margin-bottom: 0.5rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: #f5f5f5;
	border: 1px solid var(--color-bg-2);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	line-height: 1.8;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	padding: 0.5rem;
	border: 1px solid var(--color-theme-2);
	border-radius: 3px;
}

button {
	background-color: var(--color-theme-1);
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: var(--color-theme-2);
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.section-divider {
  margin-top: 0.5em;
}
.stories {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(300px, 1fr)); /* Flexible column sizes */
  grid-auto-rows: minmax(150px, auto); /* Ensure rows have a consistent minimum height */
  grid-auto-flow: dense; /* Allows grid items to fill empty spaces */
}
.stories-mobile {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(1, minmax(100px, 1fr)); /* Flexible column sizes */
  grid-auto-rows: minmax(50px, auto); /* Ensure rows have a consistent minimum height */
  grid-auto-flow: dense; /* Allows grid items to fill empty spaces */
}


@media (max-width: 768px) {
  .stories {
    grid-template-columns: repeat(1, minmax(100px, 1fr)); /* Flexible column sizes */
    gap: 0px;
  }
  :root {
    --story-grow-factor: 1;
  }
}